<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565492441016-fh60kojo45scb6b0ajo0n7pfkvb52psl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565492441016-fh60kojo45scb6b0ajo0n7pfkvb52psl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>565492441016-5mqk7meo1vrnckocvrj5amae2i135smq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhBYG2GuvaDtT3h6t-l2ea_U8KsQrAiZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>565492441016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.test</string>
	<key>PROJECT_ID</key>
	<string>clone-7fffd</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-7fffd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565492441016:ios:1675533de2ae84c28ef94d</string>
	<key>DATABASE_URL</key>
	<string>https://clone-7fffd-default-rtdb.firebaseio.com</string>
</dict>
</plist>